body {
    background-image:linear-gradient(#6B21F8, #AB90DD);
    width: 1000px;
    height: 555px;
}

h1 {
    color:#803cff;
    font-size: 40px;
    font-family: fantasy;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff; 
    text-align: center;
    margin-top: 3%;
    margin-left: 25%;
}

.tu {
    color:#bababa;
    font-size: 30px;
    font-family: fantasy;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #ffffff; 
    margin-left: 65px;
}

.ne {
    color:#5ec4ff;
    font-size: 30px;
    font-family: fantasy;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #ffffff; 
    margin-left: 65px;
}

.pe {
    color:#00087d;
    font-size: 30px;
    font-family: fantasy;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #ffffff; 
    margin-left: 65px;
}

.co {
    color
    font-size: 30px;
    font-family: fantasy;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #ffffff; 
    margin-left: 55px;
}

.content {
    display: flex;
}

.Turismo {
    width: 30px;
    margin-left: 20px;
    margin-top: 70px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(0) scale(0.9);
}

.Turismo:hover {
    transform: translateX(-10px) scale(1);
}

.Astro {
    width: 250px;
    height: 250px;
    border: 3px solid #F0EEED;
    border-radius: 20px;
    object-fit: cover;
}

.Negocios {
    width: 30px;
    margin-left: 300px;
    margin-top: 70px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(0) scale(0.9);
}

.Negocios:hover {
        transform: translateX(-10px) scale(1);
}

.Polt {
    width: 250px;
    height: 250px;
    border: 3px solid #B3FDFC;
    border-radius: 20px;
    object-fit: cover;
}

.Pesquisa {
    width: 30px;
    margin-left: 300px;
    margin-top: 70px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(0) scale(0.9);
}

.Pesquisa:hover {
    transform: translateX(-10px) scale(1);
}

.Pesq {
    width: 250px;
    height: 250px;
    border: 3px solid #A8C1FB;
    border-radius: 20px;
}

.Colonizacao {
    width: 30px;
    margin-left: 300px;
    margin-top: 70px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(0) scale(0.9);
}

.Colonizacao:hover {
    transform: translateX(-10px) scale(1);
}

.Col {
    width: 250px;
    height: 250px;
    border: 3px solid #FCD7BD;
    border-radius: 20px;
}